<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IOOD_Housing.Properties.Settings.connectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Documents\_IOOD\iood-housing\IOOD_Housing\Housing.accdb;Persist Security Info=False"
            providerName="" />
    </connectionStrings>
</configuration>