<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IOOD_Housing.Properties.Settings.connectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Documents\_IOOD\iood-housing\IOOD_Housing\Housing.accdb;Persist Security Info=False"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\我的资料库\Documents\GitHub\iood-housing branch\iood-housing\IOOD_Housing\Housing.accdb&quot;;Persist Security Info=False" />
    </connectionStrings>
</configuration>